#SDP 2015
#40504002
1	So	so	RB
2	wrote	write	VBD
3	a	a	DT
4	ten	ten	CD
5	year	year	NN
6	old	old	JJ
7	student	student	NN
8	in	in	IN
9	a	a	DT
10	letter	letter	NN
11	to	to	TO
12	his	his	PRP$
13	parents	parent	NNS
14	from	from	IN
15	North	north	NNP
16	Country	country	NNP
17	School	school	NNP
18	,	-COMMA-	,
19	Lake	lake	NNP
20	Placid	placid	NNP
21	,	-COMMA-	,
22	New	new	NNP
23	York	york	NNP
24	.	_	.

#40504003
1	In	in	IN
2	this	this	DT
3	one	one	CD
4	sentence	sentence	NN
5	,	-COMMA-	,
6	he	he	PRP
7	unwittingly	unwittingly	RB
8	revealed	reveal	VBD
9	the	the	DT
10	basic	basic	JJ
11	philosophy	philosophy	NN
12	of	of	IN
13	the	the	DT
14	nutrition	nutrition	NN
15	and	and	CC
16	psychological	psychological	JJ
17	programs	program	NNS
18	in	in	IN
19	operation	operation	NN
20	at	at	IN
21	the	the	DT
22	school	school	NN
23	.	_	.
