# Byte-compiled / optimized / DLL files
models/*
data/*
temp/*
tmp/*

.idea/
# NN checkpoints
*.th

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
analyzers/test2/detailed_f.txt
external_eval_tools/fast_smatch/_smatch.cpp
example/nnData/test/sentences.txt
example/nnData/test/pos.txt
example/nnData/test/literal.txt
example/nnData/test/graphIDs.txt
example/nnData/test/goldAMR.txt
example/nnData/test/evalInput.corpus
example/amr_test/more_files/deft-p2-amr-r1-amrs-test-xinhua.txt
example/amr_test/more_files/deft-p2-amr-r1-amrs-test-proxy.txt
example/amr_test/more_files/deft-p2-amr-r1-amrs-test-dfa.txt
example/amr_test/more_files/deft-p2-amr-r1-amrs-test-bolt.txt
example/amr_test/deft-p2-amr-r1-amrs-test-consensus.txt
example/alto/test/tokenizedTrees.corpus
example/alto/test/RefOrderFixed.corpus
example/alto/test/raw.en
example/alto/test/raw.corpus
example/alto/test/raw.amr
example/alto/test/NSQ.corpus
example/alto/test/graphIDs.txt
example/alto/test/finalAMRstrings.corpus
example/alto/test/finalAlto.corpus
example/alto/test/ENSQ.corpus
example/minimalDMoutput/*
example/toyAMRoutput/*
example/toyAMRAlignmentsoutput/*
example/toyAMRAutomataoutput/*
example/toyAMRAutomataOutput/*
example/toyDMAutomataOutput/*
example/toyPASAutomataOutput/*
example/toyPSDAutomataOutput/*
example/toyAMRAutomataOut/*
example/toyDMAutomataOut/*
example/toyPASAutomataOut/*
example/toyPSDAutomataOut/*
example/toyAMR/nn/*
example/minimalDMautomata/*
example/smallDMoutput/*
example/smallDMautomata/*
example/DMAutomataTest/training_output/*
downloaded_models/wordnet3.0/dict/verb.Framestext
downloaded_models/wordnet3.0/dict/verb.exc
downloaded_models/wordnet3.0/dict/sents.vrb
downloaded_models/wordnet3.0/dict/sentidx.vrb
downloaded_models/wordnet3.0/dict/noun.exc
downloaded_models/wordnet3.0/dict/Makefile.in
downloaded_models/wordnet3.0/dict/Makefile.am
downloaded_models/wordnet3.0/dict/Makefile
downloaded_models/wordnet3.0/dict/log.grind.3.0
downloaded_models/wordnet3.0/dict/lexnames
downloaded_models/wordnet3.0/dict/index.verb
downloaded_models/wordnet3.0/dict/index.sense
downloaded_models/wordnet3.0/dict/index.noun
downloaded_models/wordnet3.0/dict/index.adv
downloaded_models/wordnet3.0/dict/index.adj
downloaded_models/wordnet3.0/dict/frames.vrb
downloaded_models/wordnet3.0/dict/data.verb
downloaded_models/wordnet3.0/dict/data.noun
downloaded_models/wordnet3.0/dict/data.adv
downloaded_models/wordnet3.0/dict/data.adj
downloaded_models/wordnet3.0/dict/cntlist.rev
downloaded_models/wordnet3.0/dict/cntlist
downloaded_models/wordnet3.0/dict/adv.exc
downloaded_models/wordnet3.0/dict/adj.exc
downloaded_models/stanford/english.conll.4class.distsim.crf.ser.gz
downloaded_models/stanford/english-bidirectional-distsim.tagger
downloaded_models/lookup/lookupdata17/words2labelsLookup.txt
downloaded_models/lookup/lookupdata17/wikiLookup.txt
downloaded_models/lookup/lookupdata17/nameTypeLookup.txt
downloaded_models/lookup/lookupdata17/nameLookup.txt
downloaded_models/lookup/lookupdata15/words2labelsLookup.txt
downloaded_models/lookup/lookupdata15/wikiLookup.txt
downloaded_models/lookup/lookupdata15/README.txt
downloaded_models/lookup/lookupdata15/nameTypeLookup.txt
downloaded_models/lookup/lookupdata15/nameLookup.txt
downloaded_models/full_model.tar.gz
am-tools-all.jar
external_eval_tools/fast_smatch/_smatch.cpp
scripts/downloaded_models/full_model.tar.gz
external_eval_tools/fast_smatch/_smatch.cpp
example/decomposition/dm/output/dev/dev.sdp
example/decomposition/dm/output/preprocessLog.txt
example/decomposition/dm/output/test.id/en.id.dm.sdp
example/decomposition/dm/output/test.ood/en.ood.dm.sdp
example/decomposition/dm/output/train/train-supertags.txt
example/decomposition/dm/tmp/en.dev.sdp
example/decomposition/dm/tmp/en.train.sdp
example/decomposition/pas/tmp/en.dev.sdp
example/decomposition/pas/tmp/en.train.sdp
example/decomposition/psd/tmp/en.dev.sdp
example/decomposition/psd/tmp/en.train.sdp
am-tools.jar
test_output/dev/dev.sdp
test_output/pas/dev/dev.sdp
test_output/pas/preprocessLog.txt
test_output/pas/test.id/en.id.pas.sdp
test_output/pas/test.ood/en.ood.pas.sdp
test_output/pas/train/train-supertags.txt
test_output/preprocessLog.txt
test_output/psd/dev/dev.sdp
test_output/psd/preprocessLog.txt
test_output/psd/test.id/en.id.psd.sdp
test_output/psd/test.ood/en.ood.psd.sdp
test_output/psd/train/train-supertags.txt
test_output/test.id/en.id.dm.sdp
test_output/test.ood/en.ood.dm.sdp
test_output/train/train-supertags.txt
test_output/dm/dev/dev.sdp
test_output/dm/preprocessLog.txt
test_output/dm/readme.txt
test_output/dm/test.id/en.id.dm.sdp
test_output/dm/test.ood/en.ood.dm.sdp
test_output/dm/train/train-supertags.txt
scripts/setupLSWJonasLocal.txt
example/smallDM.sdp
example/minimalDM.sdp
example/toyAMR/train.zip
example/DM.sdp
downloaded_models/raw_text_model.tar.gz
tmp/stanford-ner-2018-10-16.zip
tmp/stanford-postagger-2018-10-16.zip
example/DMAutomataTest/log.txt
example/parserOut.txt
example/toyDMAutomatalog.txt
example/toyPASAutomatalog.txt
example/DM.amconll
example/AMR-2017.amconll
example/amrbug.txt
example/visualization/0.dot
example/visualization/0.pdf
example/visualization/AMR-2017.amconll
example/visualization/compositionalReentrancies/0.dot
example/visualization/compositionalReentrancies/0.pdf
example/visualization/compositionalReentrancies/1.dot
example/visualization/compositionalReentrancies/1.pdf
example/visualization/compositionalReentrancies/10.dot
example/visualization/compositionalReentrancies/10.pdf
example/visualization/compositionalReentrancies/11.dot
example/visualization/compositionalReentrancies/11.pdf
example/visualization/compositionalReentrancies/12.dot
example/visualization/compositionalReentrancies/12.pdf
example/visualization/compositionalReentrancies/2.dot
example/visualization/compositionalReentrancies/2.pdf
example/visualization/compositionalReentrancies/3.dot
example/visualization/compositionalReentrancies/3.pdf
example/visualization/compositionalReentrancies/4.dot
example/visualization/compositionalReentrancies/4.pdf
example/visualization/compositionalReentrancies/5.dot
example/visualization/compositionalReentrancies/5.pdf
example/visualization/compositionalReentrancies/6.dot
example/visualization/compositionalReentrancies/6.pdf
example/visualization/compositionalReentrancies/7.dot
example/visualization/compositionalReentrancies/7.pdf
example/visualization/compositionalReentrancies/8.dot
example/visualization/compositionalReentrancies/8.pdf
example/visualization/compositionalReentrancies/9.dot
example/visualization/compositionalReentrancies/9.pdf
example/visualization/compositionalReentrancies/AMR-2017.amconll
example/visualization/compositionalReentrancies/input.txt
example/visualization/senseDisambiguation/senseStatistics.txt
example/visualization/sentenceTypes/0.dot
example/visualization/sentenceTypes/0.pdf
example/visualization/sentenceTypes/1.dot
example/visualization/sentenceTypes/1.pdf
example/visualization/sentenceTypes/2.dot
example/visualization/sentenceTypes/2.pdf
example/visualization/sentenceTypes/3.dot
example/visualization/sentenceTypes/3.pdf
example/visualization/sentenceTypes/4.dot
example/visualization/sentenceTypes/4.pdf
example/visualization/sentenceTypes/AMR-2017.amconll
example/visualization/sentenceTypes/input.txt
example/visualizationOut/0.dot
example/visualizationOut/0.pdf
example/visualizationOut/AMR-2017.amconll
