#SDP 2015
#22100001
1	Consumers	consumer	NNS
2	may	may	MD
3	want	want	VB
4	to	to	TO
5	move	move	VB
6	their	their	PRP$
7	telephones	telephone	NNS
8	a	a+little	DT
9	little	a+little	JJ
10	closer	closer	RBR
11	to	to	TO
12	the	the	DT
13	TV	tv	NN
14	set	set	VBD
15	.	_	.

